.star {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid yellow;
  position: relative;
  margin: 100px;
}

.star:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  left: -50px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 80px solid yellow;
}