.star {
  width: 0;
  height: 0;
  border-left: 50px solid rgba(0,0,0,0);
  border-right: 50px solid rgba(0,0,0,0);
  border-bottom: 100px solid rgb(255,255,0);
  position: relative;
}

.star::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 40px;           /* moves second triangle down */
  left: -50px;
  border-left: 50px solid rgba(0,0,0,0);
  border-right: 50px solid rgba(0,0,0,0);
  border-top: 100px solid rgb(255,255,0);
}
